# Configuration Base de données
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=reservation_salles
DB_USERNAME=app_user
DB_PASSWORD=

# Mot de passe administrateur MySQL (Docker)
MYSQL_ROOT_PASSWORD=

# Format de réponse par défaut (html ou json)
APP_RESPONSE_FORMAT=html

